.poppet-popup-list-host {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	font-family: sans-serif;

	article {
		padding: 5px 15px 15px 15px;
		display: inline-block;
		width: 300px;
		position: relative;
		z-index: 2;
		background-color: white;
		border-radius: 4px;
		text-align: center;
		border: 3px #d9d9d9 solid;
	}

	ul {
		background: #fafafa;
		border: 1px #e0e0e0 solid;
		border-radius: 4px;
		padding: 0;
		max-height: 300px;
		overflow-y: scroll;
	}

	li {
		border-bottom: 1px #e0e0e0 solid;
		list-style-type: none;
		padding: 10px;
		cursor: pointer;
		transition: .25s background-color;


		&:last-child {
			border-bottom: none;
		}

		&:hover, &.selected {
			background-color: #eeeeee;
		}
	}

	p {
		padding: 0 0 5px 0;
	}

	input, button {
		width: 48%;
		box-sizing: border-box;
		padding: 10px;
		border: 1px #d9d9d9 solid;
		border-radius: 4px;

		&:focus, &:active {
			outline: none;
		}
	}

	input {
		margin-bottom: 30px;
		width: 100%;
	}

	button {
		padding: 10px 0;
		background: #e0e0e0;
		cursor: pointer;
		transition: .25s opacity;

		&:hover {
			opacity: 0.8;
		}

		&:focus, &:active {
			outline: none;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}


